<p>Facture référence : {{facture().Reference}}</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="">
        Référence
        <input type="text" class="text-slate-950 placeholder-gray-500 placeholder-opacity-50"
            formControlName="Reference" placeholder="Référence" />
    </label>
    <label for="">
        Exercice annuel
        <input type="text" formControlName="IdExerciceAnnuel"
            class="text-slate-950 placeholder-gray-500 placeholder-opacity-50">
    </label>
    <label for="">
        Exercice Mensuel
        <input type="text" class="text-slate-950 placeholder-gray-500 placeholder-opacity-50"
            formControlName="IdExerciceMensuel" placeholder="Exercice mensuel" />
    </label>
    <label for="">
        Statut
        <select name="" id="" formControlName="Statut"
            class="text-slate-950 placeholder-gray-500 placeholder-opacity-50">
            @for (statut of statuts; track $index) {
            <option value="">{{statut.value}}</option>
            }
        </select>
    </label>
    <label for="">
        Montant HT
        <input type="number" formControlName="MontantHt"
            class="text-slate-950 placeholder-gray-500 placeholder-opacity-50">
    </label>
    <label for="">
        Taux de TVA
        <input type="number" formControlName="TauxTva"
            class="text-slate-950 placeholder-gray-500 placeholder-opacity-50">
    </label>
    <label for="">
        Montant TTC
        <input type="number" formControlName="MontantTTC"
            class="text-slate-950 placeholder-gray-500 placeholder-opacity-50" readonly>
    </label>
    <button type=”button”>Soumettre</button>
</form>