<!-- 404 Content -->
<div class="text-center mt-12">
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="text-2xl mb-6">Oops! La page que vous recherchez est introuvable.</p>
    <p class="text-lg mb-8">Il semble que la page que vous essayez d'atteindre n'existe pas ou a été déplacée.</p>

    <a [routerLink]="['/HomePage']" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow-lg">Retour à
        l'accueil</a>
</div>

<!-- Illustration or Icon (optional) -->
<div class="mt-8">
    <img src="https://via.placeholder.com/300x200?text=Page+Introuvable" alt="Page Introuvable Illustration"
        class="mx-auto rounded-lg shadow-lg">
</div>

